body{
margin: 0;
padding: 0;
background: #fff;
font-family: 'Caveat', cursive;
font-family: 'Tangerine', cursive;
color: #fff;
}

.banner{
    height: 100vh;
    width: 100;
    background:url('overlay.png'), url('portfolioPic.jpg');
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed; */
    background-repeat: no-repeat;

}

.banner .navbar{
    margin-top: 4%;
}

.banner .navbar-brand{
    color:#000000;
    font-size: 4em;
    font-weight: 700;
    margin-left: 5%;
}

.banner .nav{
    margin-right: 10%;
}

.banner .nav li a{
    color: #000000;
    font-size: 3.5em;

}

.banner .info{
    margin-top: 10%;
    transform: translateY(-15%);

}

.banner .info h1{

font-size: 8.5em;
font-weight: 700;
color: #000000;
letter-spacing: 2px;
}

.banner .info p{

    font-size: 6.5em;
    font-weight: 700;
    color: #000000;
    letter-spacing: 2px;
    background-color: #4d4d4d96;
    }
